img{
    width: 612;
    height: auto;
}
.top1{
    font-family: 'Times New Roman',Georgia,serif;
    font-size: 36px;
    font-weight: bold;
}
.top2{
    font-family: 'Courier New', Courier, monospace;
    font-size:32px;
    font-weight: 500;
    color: brown;
}
.desc{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: blueviolet;

}
.top3{
    background-color: chocolate;
    font-weight: 21300;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.list{
    background-color:gold;
    font-size: 20px;
    font-weight: 400;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
